.tree-container-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tree-container {
    border-radius: 50%;
    padding: 20px;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #d4e6a5;
}

.tree-leaf {
    font-size: 24px;
    color: green;
    margin: 10px;
    cursor: pointer;
}

.tree-leaf:hover {
    color: darkgreen;
    transform: scale(1.2);
}
